

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!--LP-->
<style>
img {
 width: 100%;
 margin: 0;
}
.tile {
  margin: 0px;
  padding: 10px;
}
.ghost {
  background-color: rgba(255, 255, 255, 0.90);
  margin: 0;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  }
h5 {
  margin: 0;
}
p {
  font-size:1rem;
  line-height:1.1rem;
  margin: 5px 0;
}
</style>

    <div class="xcontainer">
      <div class="xrow">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 tile">
           <img src="images/{{ content[1].image }}" />
             <div class="ghost">
                <h5>{{ content[1].headline }}</h5>
                <p>{{ content[1].description }}</p>
             </div>
         </div>
         <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 tile">
           <img src="images/{{ content[2].image }}" />
             <div class="ghost">
                <h5>{{ content[2].headline }}</h5>
                <p>{{ content[2].description }}</p>
             </div>
         </div>
         <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 tile">
           <img src="images/{{ content[3].image }}" />
             <div class="ghost">
                <h5>{{ content[3].headline }}</h5>
                <p>{{ content[3].description }}</p>
             </div>
         </div>
         <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 tile">
           <img src="images/{{ content[4].image }}" />
             <div class="ghost">
                <h5>{{ content[4].headline }}</h5>
                <p>{{ content[4].description }}</p>
             </div>
         </div>
         <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 tile">
           <img src="images/{{ content[5].image }}" />
             <div class="ghost">
                <h5>{{ content[5].headline }}</h5>
                <p>{{ content[5].description }}</p>
             </div>
         </div>
         <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 tile">
           <img src="images/{{ content[6].image }}" />
             <div class="ghost">
                <h5>{{ content[6].headline }}</h5>
                <p>{{ content[6].description }}</p>
             </div>
         </div>
         <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 tile">
           <img src="images/{{ content[7].image }}" />
             <div class="ghost">
                <h5>{{ content[7].headline }}</h5>
                <p>{{ content[7].description }}</p>
             </div>
         </div>
         <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 tile">
           <img src="images/{{ content[8].image }}" />
             <div class="ghost">
                <h5>{{ content[8].headline }}</h5>
                <p>{{ content[8].description }}</p>
             </div>
         </div>
         <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 tile">
           <img src="images/{{ content[9].image }}" />
             <div class="ghost">
                <h5>{{ content[9].headline }}</h5>
                <p>{{ content[9].description }}</p>
             </div>
         </div>
      </div>
     </div>     
<!--/LP-->


<div style="margin: 20px 10px;">
<!--Textarea Open-->
<textarea name="textarea" cols="80" rows="5" wrap="virtual" style="font-size:1.1rem;">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!--LP-->
<style>
img {
 width: 100%;
 margin: 0;
}
.tile {
  margin: 0px;
  padding: 10px;
}
.ghost {
  background-color: rgba(255, 255, 255, 0.90);
  margin: 0;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  }
h5 {
  margin: 0;
}
p {
  font-size:1rem;
  line-height:1.1rem;
  margin: 5px 0;
}
</style>

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 tile">
           <img src="images/{{ content[1].image }}" />
             <div class="ghost">
                <h5>{{ content[1].headline }}</h5>
                <p>{{ content[1].description }}</p>
             </div>
         </div>
         <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 tile">
           <img src="images/{{ content[2].image }}" />
             <div class="ghost">
                <h5>{{ content[2].headline }}</h5>
                <p>{{ content[2].description }}</p>
             </div>
         </div>
         <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 tile">
           <img src="images/{{ content[3].image }}" />
             <div class="ghost">
                <h5>{{ content[3].headline }}</h5>
                <p>{{ content[3].description }}</p>
             </div>
         </div>
         <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 tile">
           <img src="images/{{ content[4].image }}" />
             <div class="ghost">
                <h5>{{ content[4].headline }}</h5>
                <p>{{ content[4].description }}</p>
             </div>
         </div>
         <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 tile">
           <img src="images/{{ content[5].image }}" />
             <div class="ghost">
                <h5>{{ content[5].headline }}</h5>
                <p>{{ content[5].description }}</p>
             </div>
         </div>
         <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 tile">
           <img src="images/{{ content[6].image }}" />
             <div class="ghost">
                <h5>{{ content[6].headline }}</h5>
                <p>{{ content[6].description }}</p>
             </div>
         </div>
         <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 tile">
           <img src="images/{{ content[7].image }}" />
             <div class="ghost">
                <h5>{{ content[7].headline }}</h5>
                <p>{{ content[7].description }}</p>
             </div>
         </div>
         <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 tile">
           <img src="images/{{ content[8].image }}" />
             <div class="ghost">
                <h5>{{ content[8].headline }}</h5>
                <p>{{ content[8].description }}</p>
             </div>
         </div>
         <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 tile">
           <img src="images/{{ content[9].image }}" />
             <div class="ghost">
                <h5>{{ content[9].headline }}</h5>
                <p>{{ content[9].description }}</p>
             </div>
         </div>
      </div>
     </div>
 <!--/LP-->
     
</textarea>
<!--/Textarea Close-->
</div>
